RewriteEngine on
RewriteRule ^api/authors/?$ api/authors\.php [L]
RewriteRule ^api/authors/(.+)/books/?$ api/books\.php?author=$1 [L]
RewriteRule ^api/authors/(.+)/series/?$ api/series\.php?author=$1 [L]
RewriteRule ^api/authors/(.+)$ api/authors\.php?id=$1 [L]

RewriteRule ^api/series/?$ api/series\.php [L]
RewriteRule ^api/series/(.+)/books/?$ api/books\.php?series=$1 [L]
RewriteRule ^api/series/(.+)$ api/series.php?id=$1

RewriteRule ^api/books/?$ api/books\.php [L]
RewriteRule ^api/books/(.+)$ api/books\.php?id=$1 [L]

RewriteRule ^api/auth/?$ api/auth.php [L]

RewriteRule ^authors/?$ authors\.php [L]
RewriteRule ^authors/([0-9]+)/books/?$ books\.php?author=$1 [L]
RewriteRule ^authors/([0-9]+)/series/?$ series\.php?author=$1 [L]
RewriteRule ^authors/([0-9]+)$ authors\.php?id=$1 [L]

RewriteRule ^series/?$ series\.php [L]
RewriteRule ^series/([0-9]+)/books/?$ books\.php?series=$1 [L]
RewriteRule ^series/([0-9]+)$ series.php?id=$1

RewriteRule ^books/?$ books\.php [L]
RewriteRule ^books/([0-9]+)$ books\.php?id=$1 [L]

RewriteRule ^index/?$ index\.php [L]