@charset "UTF-8";
*{
    font-family: 'Amatic SC', cursive, Verdana, sans-serif;
}

body{
    margin:0;
    padding:0;
    height:auto;
    min-height:100%;
    background-color:lightgrey;
}

#container{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    height:auto;
    position:relative;
    overflow:auto;
}

#header{
    padding:10px;
    height:75px;
    display:flex;
    background-image: url("images/header.png");
    color:#e5fcf5;
}

#content{
    min-height:100%;
    overflow:auto;
    background-color:lightgrey;
    flex:1;
    padding:2em;
}

#footer{
    width:100%;
    height:60px;
    background-image:url("images/footer.png");
    color:#e5fcf5
}

#HomeDiv{
    float:left;
    font-size:3em;
    flex:0.2;
}

#NavDiv{
    flex:0.6;
    margin-top:1em;
}

#UserDiv{
    float:right;
    margin-top:1em;
    flex:0.2;
}

#LoginDiv{
    display:flex;
    flex-direction:column;
}

#LoginButton{
    background-color:darkslategrey;
    color:lightgrey;
    font-size:1.5em;
    padding:0.25em;
    border-radius:12px;
    border:none;
    transition-duration:0.5s;
    flex:1;
}

#LoginButton:hover{
    background-color:darkgrey;
}

#LoginBox{
    position:relative;
    flex:1;
    z-index:1;
    display:none;
    background-color:darkslategrey;
    border-radius:12px;
    padding:12px;
    overflow:auto;
}

#LoginFrame{
    background-color:darkslategrey;
    border-radius:12px;
    overflow:auto;
}

#LogoutButton{
    float:right;
    background-color:darkslategrey;
}

#LogoutButton:hover{
    background-color:grey;
}

#LoginContainer{
    background-color:darkslategrey;
    border-radius:12px;
    overflow:auto;
}

#LoginSubmit{
    float:right;
    margin:6px
}

#NewBookButton{
    background-color:darkslategrey;
}

#NewBookButton:hover{
    background-color:grey;
}

#CreateBookDiv{
    background-color:darkslategrey;
    display:inline-block;
    border-radius:6px;
    padding:6px;
    margin-bottom:1em;
}

button, input[type=submit], input[type=button]{
    background-color:grey;
    color:lightgrey;
    font-size:1em;
    padding:0.1em;
    border-radius:6px;
    border:none;
    transition-duration:0.5s;
}

button, input[type=submit], input[type=button]:hover{
    background-color:darkgrey;
}

a {
    color:inherit;
    text-decoration:inherit;
}

.loader{
    border: 8px solid grey;
    border-radius: 50%;
    border-top: 8px solid lightgrey;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.expander{
    color:grey;
}

.collapser{
    color:grey;
}